@font-face {
  font-family: "lostPixelisedFont-regular";
  src: URL("../fonts/lostPixelizedFont.ttf") format("truetype"),
    URL("../fonts/lostPixelizedFont.woff") format("woff")
      URL("../fonts/lostPixelizedFont.woff2") format("woff2");
}

html,
body {
  font-family: "lostPixelisedFont-regular";
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  background-color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 36px;
  line-height: 42px;
  color: #cfae6d;
}

body:focus {
  outline: none !important;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.white {
  color: #fff;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom {
  bottom: 20px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.top {
  top: 20px;
}

.top-with-small-margin {
  top: 5px;
}

.bottom-with-small-margin {
  bottom: 5px;
}

.no-margin {
  margin: 0;
}

.text-shadow {
  text-shadow: #000 2px 2px 2px;
}

.z-index-1 {
  z-index: 1;
}

.red {
  color: #ff0000;
}

.left {
  text-align: left;
}

.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  margin-left: 10px;
  margin-right: 10px;
}

.flag-select {
  width: 20px;
}

.custom--dropdown-container {
  cursor: pointer;
}

.title-on-board {
  text-align: center;
  margin: 0;
  margin-top: -2vh;
}

.board-pickaxe img {
  width: 4vw;
}

.trademark {
  color: hsl(0deg 0% 5.49%);
}

.day-board {
  background: #503000;
  padding: 0px 10px;
  min-width: 13vw;
  box-shadow: #000 4px 4px;
}

.day-board-text {
  text-align: center;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

@media screen and (max-width: 900px) and (max-height: 600px) {
  .day-board {
    padding: 0px 5px;
    box-shadow: #000 2px 2px;
  }

  .day-board-text {
    font-size: 14px;
    line-height: 22px;
  }
}
