@font-face {
  font-family: 'handjet-thin';
  src: URL('../fonts/Handjet-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-extra-light';
  src: URL('../fonts/Handjet-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet';
  src: URL('../fonts/Handjet-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-regular';
  src: URL('../fonts/Handjet-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-medium';
  src: URL('../fonts/Handjet-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-semi-bold';
  src: URL('../fonts/Handjet-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-bold';
  src: URL('../fonts/Handjet-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-extra-bold';
  src: URL('../fonts/Handjet-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'handjet-black';
  src: URL('../fonts/Handjet-Black.ttf') format('truetype');
}

body {
  font-family: 'handjet';
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.white {
  color: #fff;
}

.board-pickaxe {
  width: 70px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom {
  bottom: 20px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.top {
  top: 20px;
}

.z-index-1 {
  z-index: 1;
}