@font-face {
  font-family: 'pixelify-regular';
  src: URL('../fonts/PixelifySans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pixelify-medium';
  src: URL('../fonts/PixelifySans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'pixelify-semi-bold';
  src: URL('../fonts/PixelifySans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'pixelify-bold';
  src: URL('../fonts/PixelifySans-Bold.ttf') format('truetype');
}


body {
  font-family: 'pixelify-regular';
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-y: hidden;
  overflow-x: hidden;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.white {
  color: #fff;
}

.board-pickaxe {
  width: 70px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.bottom {
  bottom: 20px;
}

.left {
  left: 20px;
}

.right {
  right: 20px;
}

.top {
  top: 20px;
}

.z-index-1 {
  z-index: 1;
}